$code-bg-color: #e6e6e6;
$code-border-color: #cacaca;
$menu-margin: .3rem 1.5rem;

pre {
    background-color: $code-bg-color;
    border: 1px solid $code-border-color;
    margin-bottom: 1rem;

    code {
        background-color: $code-bg-color;
        border: 0;
        font-size: .87rem;
    }
}

.menu {
    list-style: disc;
    margin: $menu-margin;
}
